<ion-view view-title="Busca CEP">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Digite o CEP..." ng-model="form.cep" mask="99999-999">
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="search()">
            Buscar
        </button>

        <div class="card" ng-show="address">
            <div class="item item-text-wrap">
                <p>{{address.logradouro}}, {{address.bairro}}</p>
                <p>{{address.localidade}} - {{address.uf}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
