<ion-view view-title="Busca CEP">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Digite o CEP..." ng-model="cep">
            </label>
        </div>

        <button class="button button-block button-positive">
            Buscar
        </button>

        <div class="card">
            <div class="item item-text-wrap">
                <p>Avenida Paulista, 2500</p>
                <p>São Paulo - SP</p>
            </div>
        </div>
    </ion-content>
</ion-view>
