<ion-view view-title="Busca CEP">
    <ion-content class="padding">
        
        <div class="card">
            <div class="item item-text-wrap">
                <p>Avenida Paulista, 2500</p>
                <p>São Paulo - SP</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Avenida Paulista, 2500</p>
                <p>São Paulo - SP</p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Avenida Paulista, 2500</p>
                <p>São Paulo - SP</p>
            </div>
        </div>
    
    </ion-content>
</ion-view>
